.admin-header {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.change-status-btn {
  background-color: var(--white) !important;
  color: var(--blue) !important;
  border: none !important;
}

.barcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.barcode {
  width: 450px;
  border: 1px solid var(--black);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.barcode h3 {
  font-size: var(--large);
}

.barcode img {
  width: 300px;
  height: auto;
}
