.display-product-container {
  margin: 0 !important;
}

.image-container {
  height: auto;
}

.product-information {
  height: auto;
  padding: 10px 20px !important;
  display: flex;
  align-items: center;
}

.product-carousel {
  max-height: 500px;
  width: 100%;
  height: auto;
  aspect-ratio: 3/3;
  display: flex;
  align-items: center;
}

.product-carousel-image {
  height: auto;
  max-height: 500px;
}

.product-name {
  font-family: var(--times-regular);
}

.item-number {
  color: var(--dark-grey);
}

.quantity-buttons-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.quantity-buttons {
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid var(--black);
  transition: 200ms;
}

.quantity-buttons:hover {
  background-color: var(--grey);
}

.quantity-buttons svg {
  width: 25px;
  height: 25px;
}

.add-to-cart-btn,
.option-btn {
  width: 165px;
  background-color: var(--red) !important;
  color: var(--white) !important;
  border: none !important;
  padding: 10px 40px !important;
  border-radius: 0 !important;
  transition: 200ms !important;
}

.option-btn {
  padding: 10px 0 !important;
}

.add-to-cart-btn:hover,
.option-btn:hover {
  background-color: var(--red-hover) !important;
}

.added-to-cart-icon {
  width: 24px;
  height: 24px;
  animation: addedToCart 0.8s;
}

@keyframes addedToCart {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px) rotate(-20deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  80% {
    transform: translateY(-5px) rotate(10deg);
  }
  90% {
    transform: translateY(0) rotate(0deg);
  }
}
